@import 'variables.scss';

/* 
 * Card styles go here
 */

 .cards {
  display: flex;
  width: 1000px;
  max-width: 100%;
  margin: 0 auto;
  flex-wrap: wrap;
  align-items: stretch;
}

.card {
  position: relative;
  margin: 6px;
  border: 1px solid#DDD;
  width: calc(25% - 14px);
  min-height: 340px;
  color: #505050;
  transition: all 0.2s ease-in;
  &:hover {
    transform: scale(1.02);
  }
  &.featured {
    border: none;
    width: calc(50% - 14px);
    background: linear-gradient(120deg, $primary-colour, $secondary-colour);
    color: #FFF;
    &:hover {
      background: linear-gradient(-45deg, $primary-colour, $secondary-colour);
    }
    .card-title {
      font-size: 1.6em;
      margin-bottom: 5px;
    }
    .card-description {
      font-size: 0.8em;
      margin-bottom: 20px;
    }
    .download-link {
      color: #FFF;
    }
    .arrow-link {
      background-color: $highlight-colour;
      color: #FFF;
      svg {
        fill: #FFF;
      }
    }
  }

  .card-inner {
    padding: 26px 24px;
    display: flex;
    flex-direction: column;
    height: 100%;
    box-sizing: border-box;
   }
   .card-title {
     font-size: 1em;
     margin-top: 20px;
     margin-bottom: 60px;
   }
   .download-link {
    color: #999;
    margin-top: auto;
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 0.8em;
    svg {
      width: 20px;
      fill: #e0e0e0;
      margin: 0 5px;
    }
  }

   .arrow-link {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 12px 14px 10px;
    svg {
      fill: $primary-colour;
      width: 20px;
    }
  }

  @media screen and (max-width: $MD_SCREEN) {
    width: calc(50% - 14px);
    &.featured {
      width: calc(100% - 14px);      
    }
  }
}